metadata
modelState
output
trainingData
inferenceData
referenceData
preprocessedData
nohup.out
*.sublime-*
.ipynb_checkpoints
*.pyc

data/curated_breast_imaging_ddsm/
*.h5

_test/
saved_model/

*.log
